<section class="document">
  @if (facade.isLoadingDoc()) {
    <p class="document-loader">Loading...</p>
  } @else {
    <header class="document-header">
      <span class="document-header-title">{{ facade.document()?.name }}</span>

      <div class="document-header-controls">
        <span class="document-header-controls-zoom">{{ facade.zoom() }}%</span>
        <button class="document-header-controls-btn" (click)="facade.zoomOut()">−</button>
        <button class="document-header-controls-btn" (click)="facade.zoomIn()">+</button>
      </div>

      <button class="document-header-save" (click)="facade.save()">Сохранить</button>
    </header>

    <main class="document-viewer">
      @for (page of facade.document()?.pages; track page.number) {
        <app-page
          [page]="page"
          [style.width.px]="pageWidth()"
          (annotationAdd)="facade.addAnnotation(page.number, $event)"
          (annotationDelete)="facade.deleteAnnotation(page.number, $event)"
        />
      }
    </main>
  }
</section>
