:host {
  position: fixed;
  z-index: var(--z-menu);
}

.context-menu {
  list-style: none;
  background: var(--color-bg);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  overflow: hidden;
  min-width: 220px;

  &-item {
    padding: 10px 16px;
    font-size: var(--font-size-md);
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      background: var(--color-bg-hover);
    }
  }
}
